@font-face {
  font-family: 'KPCholim';
  src: url('https://raw.githubusercontent.com/bicheondev/SKOffice/assets/fonts/kpcholim.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: '천리마';
  src: url('https://raw.githubusercontent.com/bicheondev/SKOffice/assets/fonts/kpcholim.ttf') format('truetype');
  unicode-range: U+AC00-D7A3, U+1100-11FF, U+3130-318F;
}

@font-face {
  font-family: 'Lucida Grande';
  src: url('https://raw.githubusercontent.com/bicheondev/SKOffice/assets/fonts/LucidaGrande.ttf') format('truetype');
}
